body {
  font-family: 'Open Sans',sans-serif;
}

p {
  line-height: 25px;
  font-weight: 300;
}

img.img-full-height {
  width: auto;
  height: 100%;
}

img.img-full-width {
  width: 100%;
  height: auto;
}

.panel {
  margin-bottom: 0;
  border-color: #000;
  .panel-body, .modal-footer {
    background-color: #222222;
    color: #bebebe;
    .btn {
      background-color: #090909;
      border-color: #090909;
    }
  }
  .panel-body {
    .author-photo {
      display: block;
      height: auto;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.portfolio, .calc {
  position: fixed;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  padding: 0;
  z-index: 1009;
  background-color: silver;
  transition: background-color 200ms linear;
  &:hover {
    background-color: rgba(255,255,255,0.2);
    opacity: 1;
  }
  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
  &.visible {
    visibility: visible;
    opacity: 1;
  }
  @media(max-width: 700px) {
    visibility: hidden;
    opacity: 0;
  }
}

.portfolio {
  top: 60px;
  &.collapsed {
    top: 5px;
    left: 70px;
    height: 40px;
    width: 40px;
  }
}

.calc {
  top: 120px;
  &.collapsed {
    top: 5px;
    left: 125px;
    height: 40px;
    width: 40px;
  }
}

.navbar-fixed-top {
  &.hidden-nav {
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  }
  &.visible-nav {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
  }
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  .navbar-toggle {
    float: none;
    left: 15px;
  }
  .navbar-collapse.in, .navbar-collapse.collapsing {
    margin-top: 50px;
  }
}


.menu-trigger {
    span {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: #fff;
      margin: 4px;
    }
  padding: 12px 12px;
  background-color: #222222;
  color: #ffffff;
  position: fixed;
  z-index: 1001;
  &.hidden {
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  }
  &.visible {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
  }
}

.photo-title, .photo-page {
  font-size: 15px;
  color: #bebebe;
  position: absolute;
  right:30px;
}
.photo-title {
  bottom: 0;
  background: rgba(0,0,0,0.4);
  padding: 5px;
  border-radius: 5px;
}
.photo-page {
  top:60px;
}

@media(max-width: 700px) {
  .photo-title {
    right: 0;
  }
}

.next-photo-button, .previous-photo-button {
  position: fixed;
  height: 30%;
  width: 80%;
  left: 10%;
  z-index: 100;
  cursor: pointer;
  background-image: image-url('arrow-down.png');
  background-size: 45px 25px;
  background-position: 50% 95%;
  background-repeat: no-repeat;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  opacity: 0;
  &.visible {
    opacity: 1;
  }
}

.next-photo-button{
  bottom: 0;
}
.previous-photo-button {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  top: 0;
}

#control-buttons {
  -webkit-transition: -webkit-transform 0.1s ease-in;
  -moz-transition: -moz-transform 0.1s ease-in;
  -o-transition: -o-transform 0.1s ease-in;
  transition: transform 0.1s ease-in;
  position: fixed;
  z-index: 5;
}

